html, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Darker Grotesque - Regular'; /* Use the same name as in @font-face */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9F2F9;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Darker Grotesque - Medium';
  src: local('Darker Grotesque - Medium'), url(./fonts/DarkerGrotesque-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque - Regular';
  src: local('Darker Grotesque - Regular'), url(./fonts/DarkerGrotesque-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque - Light';
  src: local('Darker Grotesque - Light'), url(./fonts/DarkerGrotesque-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque - Black';
  src: local('Darker Grotesque - Black'), url(./fonts/DarkerGrotesque-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Darker Grotesque - Bold';
  src: local('Darker Grotesque - Bold'), url(./fonts/DarkerGrotesque-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Darker Grotesque - SemiBold';
  src: local('Darker Grotesque - SemiBold'), url(./fonts/DarkerGrotesque-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Darker Grotesque - ExtraBold';
  src: local('Darker Grotesque - ExtraBold'), url(./fonts/DarkerGrotesque-ExtraBold.ttf) format('truetype');
}
